
body {
    font-family: sans-serif;
    margin: 0;
    margin-top: 40px;
    padding: 20px;
    height: auto;
    width: auto;
    background-image: url(/The-X-Force/feedback_background.gif);
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.box{
    /* align-content: center; */
    float : left;
    border:2px solid black;
    padding: 10px 20px;
    width: 650px;
    margin:auto;
    box-shadow: 10px 13px black;
    background-color: transparent;
    
}